* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: #EBF1F8;
}

.login {
    width: 84%;
    padding-top: 24px;
    text-align: right;
}

.login a {
    margin-left: 30px;
    color: #2d3b52;
    text-decoration: none;
}

.HD {
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;
}

.HD li {
    list-style: none;
    display: inline-block;
}

.HD a {
    color: #2d3b52;
    text-decoration: none;
}

.HD li+li {
    margin-left: 30px;
}

.HD a:hover {
    border-bottom: 3px solid #487dd2;
}

.HD img {
    /* width: 15.5% */
    width: 160px;
}

button {
    width: 140px;
    height: 50px;
    margin-left: 30px;
    background-color: #0061FF;
    color: white;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
}

.start {
    height: 170px;
    background-color: #EBF1F8
}

.wrap {
    width: 70%;
    display: flex;

}
.item {
    width: 50%;
}

.BGC-1 {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBF1F8;
}

h1 {
    padding-top: 50px;
    color: #052855;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title p {
    color: #5D6A7A;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
}

.title p:nth-child(2) {
    margin: 30px 0;
}

#green {
    color: #52B985;
}

p+button {
    width: 320px;
    font-weight: 500;
    position: relative;
    left: -5%;
    margin-bottom: 5px;
}

#pic1 {
    height: 500px;
}

.blank {
    height: 80px;
    background-image: linear-gradient(to bottom, #F5F8FB, #ECF2F9);
}

.BGC-2 {
    height: 270px;
    background-color: #F7F8F9;
}

.BGC-2 P:first-child {
    color: #052855;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.BGC-2 p:nth-child(2) {
    color: #5D6A7A;
    text-align: center;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
}

.BGC-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 60px;
}

.BGC-3 .item {
    padding-bottom: 60px;
}

.card p:nth-child(1) {
    color: #052855;
    font-size: 27px;
    font-weight: 700;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 30px;
}

.card p:nth-child(2) {
    color: #5D6A7A;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    margin-bottom: 20px;
}

.card nav ul {
    display: flex;
    flex-wrap: wrap;

}

.card ul li {
    width: 50%;
    list-style-position: inside;
    margin: 10px 0;
    color: #052855;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card a {
    display: inline-block;
    margin-top: 25px;
    color: #0061FF;
    text-decoration: none;
    border-bottom: #0061FF 2px solid;
}

.BGC-3 .wrap:nth-child(even) {
    flex-direction: row-reverse;
}

.BGC-4 {
    height: 750px;
    background-color: #F7F8F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BGC-4 .wrap{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h3{
    color: #052855;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    font-size: 27px;
    padding-top: 70px;
}
.serve{
    width: 33.3%;
    margin-top: 70px;
}
.serve .item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.serve .item:first-child{
    align-items: center;
}
.serve img{
    width: 27%;
}
h4{
    color: #052855;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    font-size: 19px;
}
.serve p{
    color: #5D6A7A;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    text-align: center;
    padding-top: px;
}

.BGC-5{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BGC-5 h4{
    font-size: 30px;
    padding-top: 70px;
    width: 100%;
}
.brand{
    display: flex;
    justify-content: center;
}
.brand li{
    margin: 70px 0;
    list-style: none;
}
.brand li+li{
    padding-left: 100px;
}
.BGC-5 .wrap{
    flex-wrap: wrap;
}
.BGC-5 .wrap p{
    text-align: center;
    margin: auto;
    color: #052855;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    width: 100%;
    margin-bottom: 22px
}

.BGC-6{
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBF1F8;
    flex-wrap: wrap;
}
.BGC-6 p{
    color: #052855;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}
.BGC-6 button{
    margin-top: 70px;
}

.BGC-7{
    height: 700px;
    background-color: #00142D;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BGC-7 .wrap:first-child{
    height: 70px;
    align-items: center;
}
.BGC-7 .wrap li{
    list-style: none;
    
}
.BGC-7 .wrap li a{
    text-decoration: none;
    color: white;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    
}
.BGC-7 .wrap:nth-child(1) li+li{
    margin-left: 30px;
    color: #000; ;
}

.BGC-7 .wrap:nth-child(2){
    flex-direction: column;
    height: 370px;
    border-top: #28394E solid 2px;
    border-bottom: #28394E solid 2px;
}
.BGC-7 .wrap:nth-child(2) li{
    margin-top: 10px;
}
.BGC-7 .wrap:nth-child(2) li:not(:first-child) a{
    color: #7f8996;
}

.footer{
    display: flex;
    justify-content: space-between;
    
}
.save{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    margin-bottom: 30px;
}

.save a{
    width: 220px;
    height: 40px;
    background-color: #E3B54C;
    text-align: center;
    display: inline-block;
    line-height: 2.5;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.BGC-7 :nth-child(3){
    justify-content: space-between;
}
.space p:first-child{
    margin-top: 30px;
    line-height: 1.5;
    color: white;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.space:nth-child(2){
    display: flex;
}
.space:nth-child(2) li a{
    color: #7f8996;
}
.space:nth-child(2) li{
    margin-top: 20px;
}
.space:nth-child(2) li+li{
    margin-left: 20px;
}
.space:nth-child(2) li+li ::before{
    margin-right: 20px;
    content: "|";
}
.icon{
    display: flex;
    margin-top: 20px
}
